@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background-color: $dark-blue;
}

.header {
	height: 100vh;
}

.nav {
	&__desktop {
		display: none;
		width: 300px;
		background-color: $bright-green;
		height: 100vh;
		position: fixed;
		// transform: translateX(-300px);

		&-icon {
			position: absolute;
			font-size: 4rem;
			left: 2rem;
			top: 2rem;
			padding: 3rem;
			color: $dark-blue;
			position: fixed;
		}

		&-items {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100vh;
		}
	}

	&__mobile {
		position: relative;

		&-shadow {
			position: fixed;
			width: 100vw;
			height: 130px;
			background-color: rgba(0, 0, 0, 0.4);
			transform: translateY(-130px);
			transition: transform 0.4s;

			&-show {
				transform: translateY(0);
			}
		}

		&-icon {
			position: absolute;
			font-size: 4rem;
			left: 2rem;
			top: 2rem;
			padding: 3rem;
			position: fixed;
			color: $bright-green;
		}

		&-btn {
			position: absolute;
			position: fixed;
			right: 2rem;
			top: 2rem;
			padding: 3rem;
			z-index: 1;
		}

		&-items {
			width: 100vw;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: rgba(0, 0, 0, 0.4);
			transform: translatex(-150%);
			transition: transform 0.4s;

			&-active {
				transform: translateX(0);
				position: fixed;
				backdrop-filter: blur(2px);
			}
		}

		&-item {
			text-decoration: none;
			color: $light-blue;
			text-transform: uppercase;
			margin-bottom: 2rem;
			font-size: 3rem;
		}
	}
}

.display-block {
	transform: translateY(0);
}

@import './small';
@import './medium';
@import './large';
